<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
    <p class="col-md-8 fs-4">This quiz will contains total 10 Questions. Each Question holds 10 Points</p>
    <h4>Rules:</h4>
    <ol>
        <li>Correct Questions givs you 10 Points</li>
        <li>Correct Questions givs you 10 Points</li>
        <li>You will have 10 sec to answers each questions</li>
        <li>Correct Questions give you 10 Points</li>
    </ol>
    <h1 class="text-center">All the Best</h1>
    <div class="name col-md-4 my-3">
        <label>Enter Your Name</label>
        <input #name type="text" class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" [routerLink]="'/question'" (click)="startQuiz()">Start the Quiz</button>
</div>
